
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(pexels-steve-28628487.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
}

header {
    background-color:#ea9bf1;
    color:black;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:end;
    gap: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
h1{
    text-align: center;
}

button{
    font-size: 25px;
    list-style-type: none;

}
section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgb(163, 213, 221);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

h2 {
    color: #9a31a3;
    text-align: center;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    padding: 8px 0;
    text-align: center;
    font-weight: bold;
}

a {
    color: #ba88b6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    font-size: 16px;
}

.contact-form button {
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #d4d3db;
}
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #e2e2f5;
    margin-top: 40px;
}
@media(max-width: 600px){
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
